<h3>Products</h3>
<form class="row my-1 mx-auto" ng-submit="loadProducts()">
	<div class="input-group mb-1">
		<span class="input-group-text">Product title</span>
		<input id="title" type="text" class="form-control" ng-model="products_data.title" />
	</div>
	<div class="input-group">
		<span class="input-group-text">Min and Max Price</span>
		<input class="form-control" type="number" step=".01" ng-model="products_data.minPrice">
		<input class="form-control" type="number" step=".01" ng-model="products_data.maxPrice">
		<button type="submit" class="btn btn-primary ml-1">Apply</button>
	</div>
</form>
<div class="row row-cols-1 row-cols-md-3 g-2 mt-3">
	<div ng-repeat="product in page.content" class="col">
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4 p-2">
					<img ng-show="product.pictures.length > 0" src="{{product.pictures[0]}}" class="img-fluid rounded-start" alt="{{product.title}}">
					<img ng-show="product.pictures.length == 0" src="/img/no-photo.svg" class="img-fluid rounded-start" alt="No photo available.">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title mb-0">#{{product.id}} {{product.title}}</h5>
						<p class="card-text mt-0"><small class="text-muted">{{product.category}}</small></p>
						<h2 class="card-text text-end">{{product.price}}</h2>
						<div class="card-footer bg-transparent text-end p-0 pt-3">
							<button type="button" class="btn btn-outline-primary" title="Details">
								<i class="bi bi-info-circle-fill"></i>
							</button>
							<button type="button" class="btn btn-outline-primary" ng-click="addToCart(product.id)" title="To Cart">
								<i class="bi bi-basket-fill"></i>
							</button>
							<button ng-show="hasPermission('MANAGE_PRODUCTS')" type="button" class="btn btn-outline-danger"
							        ng-click="deleteProduct($index, product.id)" title="Delete">
								<i class="bi bi-x-square-fill"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nav aria-label="page navigation">
	<ul class="pagination">
		<li ng-class="['page-item', {'disabled': page.first}]">
			<button class="page-link" aria-label="Previous" ng-click="loadPage(products_data.page - 1)">&laquo;</button>
		</li>
		<li ng-repeat="pIdx in pages" ng-class="['page-item', {'active': page.number==pIdx}]">
			<button class="page-link" ng-click="loadPage(pIdx + 1)">{{pIdx + 1}}</button>
		</li>
		<li ng-class="['page-item', {'disabled': page.last}]">
			<button class="page-link" aria-label="Next" ng-click="loadPage(products_data.page + 1)">&raquo;</button>
		</li>
	</ul>
</nav>