<!DOCTYPE html>
<html ng-app="eshop" lang="en">
<head>
	<meta charset="UTF-8">
	<title>E-Stationery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
	<script src="js/index.js"></script>
</head>
<body ng-controller="indexController">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="#">Products list</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">New product</a>
					</li>
				</ul>
				<div class="d-flex" ng-show="user.authenticated">
					<span class="lead m-2">{{user.firstname}} {{user.lastname}}</span>
					<button class="btn btn-primary" ng-click="doLogout()">Logout</button>
				</div>
				<div class="d-flex justify-content-end" ng-show="!user.authenticated">
					<form class="align-right" ng-submit="doLogin()">
						<div class="input-group input-group-sm" style="padding: 4px;">
							<input id="login_field" class="form-control" ng-model="user.username" type="text" style="margin-left: 10px;">
							<input id="password_field" class="form-control" ng-model="user.password" type="password" style="margin-left: 10px;">
							<button id="login_submit" class="btn btn-outline-warning btn-sm" style="margin-left: 10px;" type="submit">Login</button>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<h3>Products</h3>
		<form class="row" action="#">
			<div class="input-group">
				<span class="input-group-text">Min and Max Price</span>
				<input class="form-control" type="number" step=".01" name="min" ng-model="minPrice">
				<input class="form-control" type="number" step=".01" name="max" ng-model="maxPrice">
				<button type="button" class="btn btn-primary" ng-click="applyFilter(0)">Apply</button>
			</div>
		</form>
		<table class="table">
			<thead class="table-secondary">
				<tr>
					<th scope="col">#</th>
					<th scope="col">ID</th>
					<th scope="col">Category</th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
					<th scope="col">&nbsp;</th>
					<th scope="col">&nbsp;</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in page.content">
					<th scope="row">{{page.size * page.number + $index + 1}}</th>
					<td>{{product.id}}</td>
					<td>{{product.category}}</td>
					<td>{{product.title}}</td>
					<td>{{product.price}}</td>
					<td>
						<button type="button" class="btn btn-outline-primary" title="Details">
							<i class="bi bi-info-circle-fill"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-primary" ng-click="addToCart(product.id)" title="To Cart">
							<i class="bi bi-basket-fill"></i>
						</button>
					</td>
					<td ng-show="hasPermission('MANAGE_PRODUCTS')">
						<button type="button" class="btn btn-outline-danger" ng-click="deleteProduct($index, product.id)" title="Delete">
							<i class="bi bi-x-square-fill"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="page navigation">
			<ul class="pagination">
				<li ng-class="['page-item', {'disabled': page.first}]">
					<a class="page-link" href="#" aria-label="Previous" ng-click="filtered ? applyFilter(page.number - 1) : loadProducts(page.number - 1)">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li ng-repeat="pIdx in pages" ng-class="['page-item', {'active': page.number==pIdx}]">
					<a class="page-link" href="#" ng-click="filtered ? applyFilter(pIdx) : loadProducts(pIdx)">{{pIdx + 1}}</a>
				</li>
				<li ng-class="['page-item', {'disabled': page.last}]">
					<a class="page-link" href="#" aria-label="Next" ng-click="filtered ? applyFilter(page.number + 1) : loadProducts(page.number + 1)">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		<div ng-show="!cart.empty" aria-label="Cart">
			<h3>Cart</h3>
			<table class="table">
				<thead class="table-secondary">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Count</th>
						<th scope="col">Price</th>
						<th scope="col">Sum</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart.items">
						<th scope="row">{{$index + 1}}</th>
						<td>{{item.title}}</td>
						<td>
							<span>{{item.count}}</span>
							<span class="btn-group btn-group-sm">
								<button type="button" class="btn btn-outline-primary btn-sm" style="line-height: 1; padding: .25rem;" ng-click="addToCart(item.id)">
									<i class="bi bi-plus-circle-fill"></i>
								</button>
								<button type="button" class="btn btn-outline-primary btn-sm" style="line-height: 1; padding: .25rem;" ng-click="removeFromCart(item.id)">
									<i class="bi bi-dash-circle-fill"></i>
								</button>
							</span>
						</td>
						<td>{{item.price}}</td>
						<td>{{item.sum}}</td>
						<td>
							<button type="button" class="btn btn-outline-danger" ng-click="deleteFromCart(item.id)" title="Remove from cart">
								<i class="bi bi-x-square-fill"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="table-primary">
						<th scope="row" colspan="4">TOTAL:</th>
						<td>{{cart.sumTotal}}</td>
						<td>&nbsp;</td>
					</tr>
				</tfoot>
			</table>
			<div class="d-flex flex-row-reverse">
				<div class="p-2">
					<button type="button" class="btn btn-primary" ng-click="createOrder()" title="Create Order">Order</button>
				</div>
			</div>
		</div>
		<div ng-show="user.authenticated">
			<h3>Orders</h3>
			<table class="table" ng-show="orders">
				<thead>
				<tr>
					<td>ID</td>
					<td>Цена</td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in orders">
					<td>{{item.id}}</td>
					<td>{{item.sumTotal}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>