<h3>Orders</h3>
<table class="table" ng-show="orders">
	<thead>
	<tr>
		<th>ID</th>
		<th>Items</th>
		<th>Sum</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="order in orders">
		<td>{{order.id}}</td>
		<td>
			<table>
				<tbody>
				<tr ng-repeat="item in order.items">
					<td class="p-0 px-3 border-0">{{item.title}}</td>
					<td class="p-0 px-3 border-0">{{item.count}}</td>
					<td class="p-0 px-3 border-0">{{item.sum}}</td>
				</tr>
				</tbody>
			</table>
		</td>
		<td>{{order.sumTotal}}</td>
	</tr>
	</tbody>
</table>
<p ng-show="isAuthenticated() && (!orders || orders.empty)">There are no orders.</p>
<p ng-show="!isAuthenticated()">Login to view orders.</p>